{% extends "layout.html" %}
{% block content %}
        <table class="table table-bordered table-hover">
            <thead class="thead-dark">
                <tr>
                  <th scope="col"> Web Application Scan</th>
                </tr>
              </thead>
        {% if webapp_json is defined %}
               {% for line in webapp_json %}
                    <tr>
                        <th>{{ line }}</th>
                    </tr>
                {% endfor %}
        {% endif %}
    </table>
    <p></p>
    <a href="/"><button type="button" class="btn btn-success">Run another test</button></a>
{% endblock %}