.main_container{
    margin:auto;
}

.main-container .feature{
    margin:auto;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    margin-bottom: 0;
}

.footer div{
    padding-bottom: 0;
}

.console-output{
    background-color: black;
    color: black;
    text-align: left;
    font-family: 'Courier Prime', monospace;
    width: 75%;
    border-radius: 25px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin: auto;
    margin-bottom: 20px;
}

.console-line{
    color: white;
    margin: 0;
    margin-left: 10px;
}

.feature-container{
    max-width: 50%;
    margin:auto;
}

.feature-container *{
    margin: auto;
    margin-top: 10px;
}

.feature{
    width: 100% !important;
}

.message{
    width:90%;
    border-radius: 8px;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 10px;
    position: fixed;
}

nav{
    margin-bottom: 20px;
}

table{
    width:90% !important;
    margin: auto !important;
}